# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/

# Pytest cache
.pytest_cache/

# Editor backups and OS files
.DS_Store
.vscode/
.idea/

# Environment variables
.env
.env.*